{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-3">
        <nav class="navbar navbar-dark bg-dark w-100">
            <a class="navbar-brand" href="{{ path('home') }}">
                <svg class="bi bi-house-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>
                </svg>
            </a>
            <button id="dark-mode" class="btn btn-dark">
                {% if app.request.cookies.get('dark_mode') %}
                    {{ 'theme.light'|trans }}
                {% else %}
                    {{ 'theme.dark'|trans }}
                {% endif %}
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="dark-blue-text">
                    <i class="fas fa-bars fa-1x">
                        <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                        </svg>
                    </i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <ul class="navbar-nav mr-auto">
                    <a href="{{ path('play') }}" class="text-white">
                        <li class="nav-item">
                            <span class="my-2">{{ 'play.header'|trans }}</span>
                        </li>
                    </a>
                    <a href="{{ path('role', { 'instrumentId': instrument.id }) }}" class="text-white">
                        <li class="nav-item">
                            <span class="my-2">{{ 'role.header'|trans }}</span>
                        </li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-xl-4">
            <a href="{{ path('control_setlist', { 'instrumentId': instrument.id } ) }}">
                <button class="btn btn-secondary w-100 h-100">{{ 'control.button.setlist'|trans }}</button>
            </a>
        </div>
        <div class="col-6 col-xl-4">
            <a href="{{ path('quick_song', { 'instrumentId': instrument.id } ) }}">
                <button class="btn btn-info w-100 h-100">{{ 'control.button.song'|trans }}</button>
            </a>
        </div>
    </div>
    {% if songId != 0 %}
        <div class="row justify-content-center my-3">
            <div id="alert" class="row my-3" style="display: none;">
                <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                    <strong>{{ 'control.alert.strong'|trans }}</strong></br> 
                    {{ 'control.alert.normal'|trans }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            {% if setlistId != 0 %}
                <div class="col-3">
                    {% if setlistSongArray[songId] > 1 %}
                        <a href="{{ path('control', { 'instrumentId': instrument.id, 'setlistId': setlistId, 'songId': setlistSongPositionArray[setlistSongArray[songId] - 1] } ) }}">
                           <button class="btn btn-secondary w-100 h-100"><<</button>
                        </a>
                    {% else %}
                        <button class="btn btn-secondary w-100 h-100 disabled"><<</button>
                    {% endif %}
                </div>
                <div class="col-6">
                    <button id="set" class="btn btn-warning w-100 h-100">{{ 'control.set'|trans }}</button>
                </div>
                <div class="col-3">
                    {% if setlistSongArray[songId] < setlistSongArray|last %}
                        <a href="{{ path('control', { 'instrumentId': instrument.id, 'setlistId': setlistId, 'songId': setlistSongPositionArray[setlistSongArray[songId] + 1] } ) }}">
                            <button class="btn btn-secondary w-100 h-100 ">>></button>
                        </a>
                    {% else %}
                        <button class="btn btn-secondary w-100 h-100 disabled">>></button>
                    {% endif %}
                </div>
            {% else %}
                <div class="col-12">
                    <button id="set" class="btn btn-warning w-100">{{ 'control.set'|trans }}</button>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-12">
                <h3 id="artist" class="text-center">{{ song.artist }}</h3>
            </div>
            <div class="col-12">
                <h1 id="title" class="text-center"><b>{{ song.title }}</b></h1>
            </div>
        </div>
        {% if instrument.metronome %}
            <div id="metronome" class="row justify-content-center my-3">
                <div class="col-12">
                    <h3>{{ 'metronome.header'|trans }}</h3>
                </div>
                <div class="form-group col-12 col-xl-4">
                    <label for="rate">{{ 'form.song.data.rate'|trans }}</label>
                    <input type="number" id="rate" name="rate" class="form-control" value="{{ songData.rate }}"/>
                </div>
                <div class="form-group col-12 col-xl-4">
                    <label for="meter">{{ 'form.song.data.meter'|trans }}</label>
                    <input type="number" id="meter" name="meter" class="form-control" value="{{ songData.meter }}"/>
                </div>
                <div class="col-12 col-xl-4">
                    <button id="metronomeStart" class="btn btn-secondary metronome-button">Start</button>
                    <button id="metronomeStop" class="btn btn-danger metronome-button float-right">Stop</button>
                </div>
            </div>
        {% endif %}
    <div class="row justify-content-center my-3">
        <div id="content" class="col-12">
            {{ songData.content|raw }}
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if songId != 0 %}
        <script>
            $('#set').click(function() {
                $.ajax({
                    url: "{{ path('set_song', { 'instrumentId': instrument.id } ) }}", 
                    method: "POST",
                    data: {
                        'songId': '{{ song.id }}'
                    },
                    complete: function(data){
                        if (data.status !== 200) {
                            $('#alert').show();
                        }
                    }
                });
            });
        </script>
    {% endif %}
    <script>
        {% if instrument.metronome and songId != 0 and songData.rate and songData.meter %}
            stopMetronome();
            startMetronome('{{ songData.rate }}', '{{ songData.meter }}');
        {% endif %}
    </script>
    <script src="{{ asset('js/metronome.js') }}"></script>
    <script> 
        var webApiNotSupport = "{{ 'metronome.webapi.error'|trans }}";
        window.onload = initAudio; 
        var counter = 0;
        var t;
        var x = 1000; 
        var newMeter;
        var newRate;
        
        function startMetronome(rate, meter) {
            clearInterval(t);
            newRate = 1000 / (rate / 60);
            newMeter = Math.round(meter);
            t = setInterval(beep, newRate);
        }
        
        function stopMetronome() {
            clearInterval(t);
        }

        function beep() {
            counter++;
            if (counter % newMeter === 0) {
                startTone(494);
            } else {
                startTone(448);
            }
        }
        
        $('#metronomeStop').click(function () {
            stopMetronome();
        });

        $('#metronomeStart').click(function () {
            if (context.state !== 'running') {
                context.resume();
            }    
            
            var r = $('#rate').val();
            var m = $('#meter').val();
            startMetronome(r, m);
        });
    </script>       
{% endblock %}